body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.corner-window{
    width: 500px;
    height: 300px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}